<div layout="row">
  <div flex>
    <md-toolbar class="md-whiteframe-6dp">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()">
          <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2>
          <span>Conta Restaurante</span>
        </h2>
        <span flex></span>
        <md-menu md-offset="0 0">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon><i class="material-icons">more_vert</i></md-icon>
          </md-button>
          <md-menu-content >
            <md-menu-item>
              <md-button ng-click="PessoasCtrl.deleteAll()">
                <md-icon><i class="material-icons">delete</i></md-icon>
                Excluir Todos
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
  </div>
</div>

<div layout="row">
  <div flex="0">
    <menu></menu>
  </div>
  <div flex> <!-- content -->
    <md-card class="money-box">
      <md-card-content>
        <h1><sup>R$</sup> {{ (exibirGorjeta) ?  ( PessoasCtrl.valorTotal * 1.1 ).toFixed(2) : PessoasCtrl.valorTotal.toFixed(2) }}</h1>
      </md-card-content>
    </md-card>
    
    <md-switch class="md-primary" ng-model="exibirGorjeta">
      <span>Exibir valor com gorjeta (10%)</span>
    </md-switch>
    
    <p class="group-label" ng-show="pessoas.length > 0">Pessoas que vão pagar:</p>
    
    <md-card class="pessoas-box" ng-repeat="pessoa in pessoas">
      <md-card-content>
        <div layout="col">
          <div flex="85">
            <a ng-href="{{'#/Pessoas/'+pessoa.id}}">
              <div layout="row">
                <div flex="15">
                  <img ng-src="{{PessoasCtrl.getAvatar(pessoa)}}" class="img-responsive img-circle">
                </div>
                <div flex class="nome">
                  {{pessoa.nome}}
                </div>
                <div flex class="valor">
                  R$ {{ (exibirGorjeta) ? ( PessoasCtrl.valorTotalPessoa(pessoa) * 1.1 ).toFixed(2) : PessoasCtrl.valorTotalPessoa(pessoa).toFixed(2)}}
                </div>        
              </div>
            </a>  
          </div>
          <div flex="15">
            <div layout="row">
              <div flex>
                <md-button class="md-icon-button" ng-click="PessoasCtrl.delete(pessoa.id)"><md-icon><i class="material-icons">delete</i></md-icon></md-button>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
    
    <div class="bottom-offset"></div>
    
    <a href="#Pessoas/new">
      <md-button class="md-fab md-accent" style="position: fixed; bottom: 10px; right: 10px;">
        <md-icon><i class="material-icons" style="color: #FFF;">person_add</i></md-icon>
      </md-button>
    </a>
  </div>
</div>