<div layout="row">
  <div flex>
    <md-toolbar class="md-whiteframe-6dp">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()">
          <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2>
          <span>Conta Restaurante</span>
        </h2>
      </div>
    </md-toolbar>
  </div>
</div>

<div layout="row">
  <div flex="initial">
    <menu></menu>
  </div>
  <div flex>
    <md-button class="md-fab md-accent" style="position: fixed; bottom: 10px; right: 10px;">
      <md-icon><i class="material-icons" style="color: #FFF;">person_add</i></md-icon>
    </md-button>
  </div>
</div>