<h3 class="page-title">Editar: {{grupo.nome}}</h3>

<form>
  <md-input-container class="md-block">
    <label>Deseja dividir o valor desse grupo:</label>
    <input type="number" ng-model="grupo.dividir" id="myAnchor" placeholder="Clique para inserir a qtde de pessoas p/dividir" tabindex=0 ng-keypress="next($event)" ng-change="salvarDividir()">
  </md-input-container>
</form>

<md-button class="md-raised md-primary" ng-click="calcularTroco()" tabindex=1>Calcular Troco</md-button>

<p></p>

<form>
  
  <label>Troco Para o:</label>
  <p></p>
  <md-radio-group ng-model="troco.tipo">
    <md-radio-button value="1" > Valor Total </md-radio-button>
    <md-radio-button value="2" > Valor Dividido </md-radio-button>
  </md-radio-group>
  
  <md-radio-group ng-model="troco.gorjeta">
    <md-radio-button value="1.1" > Pagar com gorjeta </md-radio-button>
    <md-radio-button value="1" > Pagar sem gorjeta </md-radio-button>
  </md-radio-group>
  
  <md-input-container class="md-block">
    <label>Valor Pago:</label>
    <input type="number" ng-model="troco.valorPago" placeholder="Clique para inserir o valor" ng-keypress="next($event)">
  </md-input-container>
</form>

<md-card class="card-list" ng-show="grupo.trocos.length > 0">
  <md-card-content>
    <div ng-repeat="troco in grupo.trocos track by $index">
      <p><span class="card-list-header-1">Troco para {{troco.valorPago | currency:"R$ ": 2}}: </span>{{troco.valorAReceber | currency:"R$ ": 2}}</p>
      <md-button class="md-icon-button" ng-click="deletarTroco(troco)" tabindex=-1>
        <md-icon><i class="material-icons">delete</i></md-icon>
      </md-button>
      <hr>
    </div>
  </md-card-content>
</md-card>