<md-card class="card-toolbar">
  <md-card-content>
    <h1>{{(valorTotalGrupos * 1.1) | currency:"R$ ": 2}}</h1>
    <p>(Total + 10%)</p>
    <p ><strong>Total da Conta:</strong> {{valorTotalGrupos | currency:"R$ ": 2}}</p>
  </md-card-content>
</md-card>

<h3 class="page-title">Dividir Consumo Individual:</h3>

<md-card>
  <md-card-title>
    <span class="md-headline p-divisao">Gastos Comuns</span>
  </md-card-title>
  <md-card-content>
    <p style="font-style: italic;" ng-show="gastosComuns.length == 0"><small>Nenhum Gasto Inserido...</small></p>
    <p ng-show="totalGastosComuns > 0"><span class="card-list-header-1">Valor Total:</span> {{totalGastosComuns | currency:"R$ ": 2}}</p>
    <md-card-actions layout="row" layout-align="end center">
      <a href="#gastos-comuns"><md-button style="color: #4CAF50;">Editar</md-button></a>
    </md-card-actions>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>
    <span class="md-headline p-divisao">Gastos Individuais</span>
  </md-card-title>
  <md-card-content>
    <p style="font-style: italic;" ng-show="grupos.length == 0"><small>Nenhum Grupo Inserido...</small></p>
    <p ng-show="grupos.length > 0"><span class="card-list-header-1">Valor Total:</span> {{valorTotalGrupos | currency:"R$ ": 2}}</p>
    <md-card-actions layout="row" layout-align="end center">
      <a href="#inserir-grupos"><md-button style="color: #4CAF50;">Editar</md-button></a>
    </md-card-actions>
  </md-card-content>
</md-card>