<md-card class="card-toolbar">
  <md-card-content>
    <h1>{{(valorTotalGrupos * 1.1) | currency:"R$ ": 2}}</h1>
    <p>(Total + 10%)</p>
    <p ><strong>Total da Conta:</strong> {{valorTotalGrupos | currency:"R$ ": 2}}</p>
  </md-card-content>
</md-card>

<h3 class="page-title">Inserir Grupos:</h3>

<md-button class="md-raised md-primary" ng-click="limpar()" tabindex=3>Excluir Todos</md-button>
<md-button class="md-raised md-primary" ng-click="inserir()" tabindex=2>Inserir</md-button>

<form>
  <md-input-container class="md-block">
    <label>Nome:</label>
    <input type="text" ng-model="grupo.nome" placeholder="Clique para inserir o nome..." tabindex=1>
  </md-input-container>
</form>

<md-card class="card-list" ng-show="grupos.length > 0">
  <md-card-content>
    <div ng-repeat="grupo in grupos track by $index">
      <strong>{{grupo.nome}}</strong>
      <br>
      <p><span class="card-list-header-1">Valor: </span>{{grupo.valorTotal | currency:"R$ ": 2}}</p>
      <p><span class="card-list-header-1">Valor + 10%: </span>{{ (grupo.valorTotal * 1.1) | currency:"R$ ": 2}}</p>
      <a href="#editar-grupos" style="text-decoration: none;">
        <md-button class="md-icon-button" ng-click="editar(grupo)">
          <md-icon><i class="material-icons">edit</i></md-icon>
        </md-button>
      </a>
      <md-button class="md-icon-button" ng-click="deletar(grupo)">
        <md-icon><i class="material-icons">delete</i></md-icon>
      </md-button>
      <hr>
    </div>
  </md-card-content>
</md-card>