body {
  background-color: #EFEFEF;  
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.bottom-offset {
  height: 100px;
}

.money-box {
  margin: 0px;
  padding: 30px;
  text-align: center;
}

.money-box h1 {
  font-size: 60px;
  font-weight: normal;
  color: #424242;
}

.money-box sup {
  font-size: 32px;
  color: #616161;
}

md-switch {
  margin-left: 10px !important;
}

md-switch span {
  color: #616161;
  font-weight: bold;
}

md-sidenav p {
  margin-left: 18px;
  margin-bottom: 26px;
}

md-sidenav span {
  vertical-align: middle;
  color: #616161;
  font-weight: bold;
  font-size: smaller;
}

md-sidenav md-icon {
  margin-right: 25px;
}

md-sidenav a {
  text-decoration: none;
}

.form-box {
  margin: 0px; 
}

.form-box form {
  margin-bottom: 0px;
}

.form-box input {
  border: 0px #FFF solid;
  width: 250px;
}

.form-box input:focus {
  border: 0px #FFF solid;
  outline: none;
}

.pessoas-box {
  margin: 0px;
  border-bottom: 1px #EEEEEE solid;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.0),0 1px 1px 0 rgba(0,0,0,.0),0 2px 1px -1px rgba(0,0,0,.0);
}

.pessoas-box .nome {
  padding: 15px;
  color: #616161;
  font-weight: bold;
}

.pessoas-box .valor {
  padding: 15px;
  color: #424242;
}

.group-label {
  margin-left: 10px;
  color: #616161;
}