body {
  background-color: #EFEFEF;  
}

.money-box {
  margin: 0px;
  padding: 30px;
  text-align: center;
}

.money-box h1 {
  font-size: 60px;
  font-weight: normal;
  color: #424242;
}

.money-box sup {
  font-size: 32px;
  color: #616161;
}

md-switch {
  margin-left: 10px !important;
}

md-switch span {
  color: #616161;
  font-weight: bold;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

md-sidenav p {
  margin-left: 18px;
  margin-bottom: 26px;
}

md-sidenav span {
  vertical-align: middle;
  color: #616161;
  font-weight: bold;
  font-size: smaller;
}

md-sidenav md-icon {
  margin-right: 25px;
}

md-sidenav a {
  text-decoration: none;
}

.form-box {
  margin: 0px; 
}

.form-box form {
  margin-bottom: 0px;
}

.form-box input {
  border: 0px #FFF solid;
  width: 250px;
}

.form-box input:focus {
  border: 0px #FFF solid;
  outline: none;
}